body {
  font-family: Arial, sans-serif;
  background: white;
  margin: 0;
  padding: 0;
}

.app {
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2), inset 0 0 10px rgba(0, 0, 0, 0.1);
  background: #fdfcfb;
}

header {
  background: linear-gradient(135deg, #c258c4, #9e42b0);
  padding: 20px 0;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

header h1 {
  color: #ffffff;
  margin: 0;
  font-size: 2.5em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.main {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.card-container {
  background: black;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cards {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin: 10px;
  padding: 20px;
  width: 250px;
  transition: transform 0.3s, box-shadow 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card h4 {
  font-size: 1.5em;
  margin: 0 0 10px 0;
  text-align: center;
}

.card img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card p {
  font-size: 1em;
  color: #555;
  margin-top: 15px;
}

.primary {
  background-color: #c258c4;
  color: pink;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.card button {
  background-color: #eee;
  color: #333;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.card button:hover {
  background-color: #ddd;
}

.nav-link {
  display: block;
  margin-top: 20px;
  text-align: center;
  text-decoration: none;
  color: #c258c4;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.nav-link:hover {
  color: #9e42b0;
}

.login-signup-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.signup-form,
.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.login-label,
.signup-label {
  margin-bottom: 0.5rem;
}

.login-input,
.signup-input {
  padding: 0.5rem;
  margin-bottom: 1rem;
  width: 15rem;
  text-align: center;
}

.login-submit,
.signup-submit {
  padding: 0.5rem 2rem;
  background-color: purple;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: box-shadow 0.3s;
  margin-bottom: 1rem;
}

.login-submit:hover,
.signup-submit:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.nav-link {
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: black;
  margin: 0 1rem;
  transition: box-shadow 0.3s;
}

.nav-link:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.user-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.update-user-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-form-input {
  margin-bottom: 10px;
}

.user-form-submit,
.user-form-delete {
  background-color: purple;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

.user-form-submit:hover,
.user-form-delete:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

.signup-toggle,
.login-toggle {
  background-color: purple;
  color: white;
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: box-shadow 0.3s;
  margin-bottom: 1rem;
  margin-left: 65px;
  align-self: center;
  /* Centers the button horizontally */
}

.signup-toggle:hover,
.login-toggle:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-page-header {
  text-align: center;
  color: #c258c4
}

.home-body {
  text-align: center;

}

.home-pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;

}